@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
section{
margin-bottom: 30px;
}

body{
margin: 0;
font-family: tahoma;				
font-size: 1.1em;
}
.navbar{
background-color: #242524;
padding: 20px;
overflow: hidden;
}
.navbar a {
text-decoration: none;
color: white;
padding: 10px;
float: left;
margin: 0;
}
.icon{
float: right;
display:none;
}
h1{
font-size: 50px; 
letter-spacing: -1px; 
margin: 10px 0 24px; 
}
.row{
display: flex;
justify-content: space-between;
align-items: center;
margin: 100px 0;
}
.col-1{
flex: 2;
position: relative;
margin-left: 50px;
}
.col-1 h2{
font-size: 2.5rem;
color:#1c3548;
margin:0px 0px 10px 0px;
line-height: 60px;
}
.col-1 p{
font-size: 25px;
color: #707070;
font-weight: 100;
margin: 20px 0 10px;
}
.col-2{
position: relative;
flex: 1;
display: flex;
text-align: center;
}
.col-2  .bg{
width: 90%;
height: 100%;
}


.max-width{
max-width: 1300px;
padding: 0 80px;
margin: auto;
}

.about .title{
text-align: center;
font-size: 40px;
font-weight: 500;
margin-bottom: 60px;
padding-bottom: 20px;
}
.about .about-content{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}
.about .about-content .left {
width: 45%;
}
.about .about-content .left img{
height: 400px;
width: 400px;
object-fit: cover;
border-radius: 6px;
}
.about .about-content .right {
width: 55%;
}
.about .about-content .right a{
display: inline-block;
background: crimson;
color: #fff;
font-size: 20px;
font-weight: 600;
padding: 10px 30px;
margin-top: 20px;
border-radius: 6px;
border: 2px solid crimson;
transition: 0.3s;
}
.about .about-content .right a:hover{
color: crimson;
background: none;
}


.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.container .wrapper{
    width: 28%;
    margin: 6px;
    border-radius: 3px;
    background: #a99d9d;
    transition: all 0.3s ease;
}
.cost{
position: absolute;
top: 1rem;
background: #ff3838;
color: #fff;
padding: .5rem 1rem;
border-radius: .5rem;
}
.container .wrapper img{
    width: 100%;
    border-radius: 3px;
}
.container .wrapper .content{
    padding: 10px 20px 22px 20px;
}
.wrapper .row{
    padding: 10px 20px 22px 20px;
}
#icon{
width: 80px;
cursor: pointer;
}
.content strong{
    font-size: 22px;
}
.content p{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 400;
}
.control {
  padding: 0 40px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



img#icon {
    margin-left: 150px;
}

footer{
  width: 100%;
  margin-bottom: 0;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,.lower{
  color: #fff;
  font-size: 20px;
}
footer .content .box{
  width: 33%;
  transition:  0.4s ;
}
footer .content .topic{
  font-size: 22px;
  color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
.middle.box {
    color: #fff;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition:  0.3s;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}

footer .bottom{
  width: 100%;
  font-size: 20px;
  text-align: center;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #eb2f06;
}
footer a{
  transition:  0.3s;
}
footer a:hover{
  color: #eb2f06;
}

@media only screen and (max-width: 1104px){
.about .about-content .left img{
    height: 300px;
    width: 300px;
}
}
@media only screen and (max-width: 991px){
.max-width{
padding:  0 50px;
}
}
@media only screen and (max-width: 947px){
.max-width{
max-width: 800px;
}
.about .about-content .column{
width: 100%;
}
.about .about-content .left{
display: flex;
justify-content: center;
margin: 0 auto 60px;
}
.about .about-content .right{
flex: 100%;
}
}

@media  only screen and (max-width:700px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media  only screen and (max-width: 700px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
.container .wrapper {
width: 97%;
}
}

@media only screen and (max-width: 700px){
section{
 padding:1rem ;
}
.row{
flex-direction: column-reverse;
margin: 50px 0;
}
.col-2{
flex: 1;
margin-bottom: 50px;
}
.col-2 .bg{
width: 100%;
}
.content1{
 position: relative;
margin: 130px auto;
text-align: center;
padding: 0 20px;
}
.content1 .text{
font-size: 2.5rem;
 font-weight: 600;
color: #202020;
}
		
.content1 .p{
font-size: 2.1875rem;
font-weight: 600;
color: #202020;
}
@media  only screen and (max-width: 700px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}
@media only screen and (max-width: 600px){
.navbar a:not(:first-child) {
display:none;
}
.navbar {
position: relative;
}
.navbar a.icon {
display: block;
float:right;
position: absolute;
top: 10px;
right: 0;
}


div.navbar.clicked a {
display: block;
float: none;
}
}

